.header {
  background-color: #111827; /* тёмно-серый */
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav_link {
  color: white;
  text-decoration: none;
  background-color: #1f2937;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: background-color 0.2s;
}

.nav_link:hover {
  background-color: #374151;
}
